/*Fuente añadida*/
@font-face {
	font-family: 'graceland';
	src: url(graceland.woff);
	font-style: normal;
	font-weight: normal;
}

body{
	background-image: url("img/fondo.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	margin: 0px;
}


.cabecera{
	width:100%;
	background-color:black;
	margin: auto;
	height:4%;
}
.cabecera marquee{
	color:white;
}

header.principal{
	display: flex;
	background-color:rgba(200,0,0,1);
	width: 90%;
	height: 30%;
	text-align:center;
	margin-left: 4.5%;
	margin-top: 2%;
	border:1px solid;
	overflow: hidden;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 10px;
}

header.principal div{

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
header.principal div h1{
	width:60%;
	height:100%;
	font-size: 600%;
	font-family: graceland;
	margin-top: 0px;
	float: left;
	color:black;
	vertical-align: middle;
}
header.principal div img{
	display:flex;
	float:left;
	height: 80%;
}

nav{
	width: 90%;
	height: 8%;
	border: 2px solid black;
	margin-left: 4.5%;
	background-color:rgba(200,0,0,1);
	position: sticky;
	top: 0;
}
.seccion{
	display: flex;
	justify-content: center;
	align-items: center;
	border-right:1px solid black;
	height: 100%;
	width: 11%;
	float: left;
	color: black;
	font-size: 120%;
	font-weight: bold;
}
.seccion:hover{
	background-color: black;
	color: white;
	transition: all 0.3s ease-in-out;
}
.activo{
	background-color:black;
	color:white;
}
.float_der{
	float:right;
	color: black;
	border: none;
	border-left: 1px solid black;
}
.main{
	background-color:rgba(255,255,255,0.5);
	margin-top: 0px;
	border:1px solid;
	margin-left: 4.5%;
	margin-bottom:2%;
	width: 90%;
	height:350%;
}
.bienvenida{
	margin-top: 3%;
	margin-left: 5%;
}
.bienvenida img{
	float:left;
	width:20%;
}
.bienvenida p{
	float: left;
	margin: 5%;
	padding: 1%;
	border-radius: 8px 8px 8px 8px;
	width: 60%;
	border:2px solid black;
}
.pie_seccion{
	background-color:black;
	color:white;
	text-align:center;
	font-size:150%;
	width:100%;
	height:2%;
	float:left;
}
.pie_seccion a{
	color:white;
	text-decoration:none;
}
.pie_seccion a:hover{
	color:rgba(200,0,0,1);
}
.seccion1{
	background-color: rgba(200,0,0,1);
	width:100%;
	float:left;
	margin-bottom:5%;
}
.seccion1 header{
	width:100%;
	background-color: black;
	font-family: graceland;
	color:white;
}
.seccion1 header span{
	margin-left:5%;
	font-size: 200%;
}
.seccion1 video{
	background-color:black;
	float:left;
	margin-left:5%;
	margin-bottom:2%;
	margin-right:3%;
	width:40%;
	height:15%;
	margin-top: 1%;
	border: 2px solid;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
/*.seccion1 video:hover{
	width:40%;
	height:15%;
	transition: all .3s ease-in-out;
}*/
.seccion1 h1{
	margin-top:1%;
	font-size: 300%;
}
.ficha_tec{
	float:left;
	/*border: 2px solid blue;*/
	width:50%;
	height:17%;
}
.seccion2{
	background-color: rgba(200,0,0,1);
	width:100%;
	float:left;
	margin-bottom:5%;
}
.seccion2 header{
	width:100%;
	background-color: black;
	font-family: graceland;
	color:white;
}
.seccion2 header span{
	margin-left:5%;
	font-size: 200%;
}
.seccion2 table{
	width: 100%;
	margin-top:2%;
/*	border: 2px solid blue;*/
}
.seccion2 table tr td {
/*	border: 2px solid green;*/
}
.seccion2 table tr td img{
/*	border: 2px solid green;*/
	text-align:center;
	margin-left: 5%;
	width:90%;
	box-shadow:20px 20px 50px 15px black;
	transition:all .3s ease-in-out;
}
.seccion2 table tr td img:hover{
	box-shadow:20px 20px 50px 15px white;
	transition:all .3s ease-in-out;
}
.seccion2 table tr td img:active{
	box-shadow:20px 20px 50px 15px transparent;
	transition:all .1s ease-in-out;
}
.seccion2 table tr td h3{
	color:white;
/*	border: 1px solid violet;*/
	width:90%;
	margin-left: 5%;
	margin-top: 3%;
}

.seccion2 ul.jugger {
	font-size:200%;
	font-family: Algerian;
	margin-left:4%;
	float:left;
}
.seccion2 ul{
	font-size:150%;
	margin-left:40%;
}
.seccion2 ul a{
	color:black;
	text-decoration:none;
}
.seccion2 ul a:hover{
	color:white;
	transition:all .2s ease-in-out;
}
.seccion2 img{
	float:left;
	margin-top:2%;
	margin-left:15%;
}
.seccion3{
	background-color: rgba(200,0,0,1);
	width:100%;
	float:left;
	margin-bottom:5%;
}
.seccion3 header{
	width:100%;
	background-color: black;
	font-family: graceland;
	color:white;
	text-align:center;
}
.seccion3 header span{
	font-size: 200%;
}
.cuadro {
	background-color: rgba(255,255,255,0.5);
	width: 90%;
	margin-left:4.8%;
	margin-top: .8%;
	margin-bottom: 1%;
	border-radius: 10px;
}
.cuadro table{
	width:100%;
}
.cuadro table tr{
	border: 3px dashed black;
}
.cuadro table tr th {
	padding-bottom: 1%;
	width:20%;
	vertical-align: bottom;
}
.cuadro table tr td {
	text-align:center;

}

.cuadro table tr th img {
	width: 10%;
}
.cuadro table tr td img {
	width: 15%;
	height: 10%;
}
.info{
	margin-left: 3%;
	width: 60%;
	float:left;
}
.info h1{
	font-family:graceland;
	font-size: 360%;
}
.info p{
	font-size: 150%;
}
.map{
	float:left;
	width: 30%;
	margin-top: 10%;
}
.map img{
	width: 100%;
}
.login{
	background-color: rgba(200,0,0,1);
	width:30%;
	margin-bottom:5%;
	border: 2px solid black;
	margin-top: 5%;
	margin-left: 35%;
	height: 40%;
}
.login header{
	width:100%;
	background-color: black;
	font-family: graceland;
	color:white;

}
.login header span{
	margin-left:5%;
	font-size: 200%;
}
.login table{

	margin-left: 12%;
	height: 60%;
}
.login table tr{
	margin-bottom: 5%;
}
.login input{
	float: right;
	margin-right: 20%;
	margin-left: 5%;
}
.login a{
	float: right;
}
footer{
	width:100%;
	height:25%;
	background-color:black;
	border-top: 2px solid red;
	/*border-image-source: url("img/borde.png");
	border-image-slice:15;
	border-image-repeat: repeat;*/

}
footer div{
	color:white;
	float:right;
	margin-top:1%;
	margin-right:5%;
	/*border: 2px solid blue;*/
	width:25%;
}
footer div img{
	width:20%;
	float:right;
	border-radius:100%;
	margin-bottom:2%;
}
footer div img:hover{
	border:2px dotted red;
}
footer div span{
	clear:both;
	float:right;
}
footer div span.enlace{
	color:grey;
}
footer div span.enlace:hover{
	color:white;
}
.flecha {position:fixed; bottom:25px; left:3px;}
.flecha img {width:10%;height:10%; transition:all .2s ease-in-out;}
.flecha img:hover {padding-bottom: 5px;transition:all .2s ease-in-out;}
